/* index header */
.indexHeader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexHeader svg {
  max-height: 100vh;
}

.indexHeader nav {
  display: flex;
  position: absolute;
  bottom: var(--xlM);
  right: var(--xlM);
}

.indexHeader a {
  padding-right: var(--medM);
  color: var(--g1);
}

.indexHeader a:hover {
  color: var(--s53);
}

/* portfolio */
.portfolio {
  min-height: 100vh;
}

.portfolioItem {
  display: inline-block;
  position: relative;
}

.portfolioItem h6 {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: var(--g9);
  text-align: center;
}

.portfolioItemCover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--p32);
}