/* Style Guide 
 * Primary Color: cornflower Navy 0,20,213
 * Secondary Color: Red 252,20,43
*/

h1 {
  color: rgb(0,20,213);
  font-family: 'Gelasio', 'Merriweather', 'Bitter', serif;
  font-size: 48px;
  letter-spacing: 15px;
  text-align: center;
}
  
.responsive {
  width: 50%;
  height: auto;
}

p {
  color: rgb(252,20,43)
}

/* Typography
 * Primary Font: Lucida Bright
*/